<%= form_with model: @post, local: true, html: { class: "my-4" } do |form| %>
  <div class="form-group">
    <%= form.text_area :body, placeholder: "Enter your message", class: "form-control", rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
