<div class="container">
  <h1>Chatter</h1>
  <h4>A CableReady &amp; StimulusReflex demo</h4>

  <%= render "form" %>

  <div id="timeline">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>
